@import "src/scss/settings/colors";

.first_page{
  width: 90vw;
  display: flex;
  justify-content: space-between;

}


.home_container{
  width: 885px;
  display:flex;
  justify-content: space-between;

}

.home_image{
  width: 800px;
  left: -483px;

}

.right_welcome_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.left_welcome_container{
 padding-top: 69px;
}