
@import "src/scss/settings/fonts";
@import "src/scss/settings/colors";

.menu_container{
  width: 900px;
  display: flex;
  justify-content: flex-end;
  margin-right:30px;

}

.menu_list{

  width: 683px;
  margin-right:28px;

  li {

    font-size:18px;
    margin-bottom: 9px;
    margin-top:  9px;
    padding-left: 45px;
    list-style-type: none;
    display: inline-block;
    font-family: $font-second-regular;
    color: $color4;
  }

  li:hover{
      color:black;
      cursor: pointer;
    }
  }